<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_municipal_config" name="Municipal" parent="base.menu_administration" sequence="95" />

    <menuitem id="menu_business_category_config" name="Business Categories" parent="municipal.menu_municipal_config" sequence="5" action="municipal.business_category_list_action" />

</odoo>
